.about {
  width: 230px;
  height: fit-content;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  border-radius: 10px;
  padding: 20px;
}

.heroa {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 20px;
  width: fit-content;
  border-radius: 30px;
}

.title {
  box-shadow: 4px 4px black;
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  color: rgb(118, 69, 232);
}

.di {
  padding-left: 40px;
  padding-right: 40px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
}

.card {
  padding: 1px;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}


