:root {
    --hover: #925ff8;
    --btn: #7838f8;
}

* {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;

}

.font-1 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-4 {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 4000;
    font-style: normal;
}

.font-5 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

a,
button, summary, label, details{
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.radius {
    corner-shape: squircle;
}

.grids {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.grid {
    padding: 1px;
}

@media (min-width: 900px) {
    .grids {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    .grids {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grids-3 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.grid-3 {
    padding: 1px;
}

@media (min-width: 900px) {
    .grids-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) {
    .grids-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grids-4 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.grid-4 {
    padding: 1px;
}

@media (min-width: 900px) {
    .grids-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) {
    .grids-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* From Uiverse.io by mobinkakei */
.loader {
    --path: #2f3545;
    --dot: #5628ee;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
}

.loader:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
    display: block;
    width: 100%;
    height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
    width: 48px;
}

.loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(10px, -18px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}

@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }

    50% {
        stroke-dashoffset: 128;
    }

    75% {
        stroke-dashoffset: 192;
    }

    100% {
        stroke-dashoffset: 256;
    }
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(18px, -18px);
    }

    75% {
        transform: translate(0, -36px);
    }

    100% {
        transform: translate(-18px, -18px);
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }

    50% {
        stroke-dashoffset: 175;
    }

    75% {
        stroke-dashoffset: 225;
    }

    100% {
        stroke-dashoffset: 275;
    }
}

.loader {
    display: inline-block;
    margin: 0 16px;
}


.custom-cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    background: #000000;
    color: #000000;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease,
        background 0.2s ease, color 0.2s ease, transform 0.12s ease;
    z-index: 10000;
}

.custom-cursor span {
    font-size: 8px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: uppercase;
    background: transparent;
}

.custom-cursor.is-visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.custom-cursor.is-hovering {
    width: 13px;
    height: 13px;
    background: #8f5ee3;
    color: #ffffff;
    z-index: 1000;
}

@media (hover: hover) and (pointer: fine) {

    body,
    body * {
        cursor: none !important;
    }

    .custom-cursor {
        display: flex;
    }
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff9a;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.4s ease;
}

#content {
    display: none;
    text-align: center;
    padding-top: 100px;
}

.navbar {
    background: #e5e7fcc8;
    z-index: 1000;
    padding: 16px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    width: 85%;
    border-radius: 500px;
    backdrop-filter: blur(25px);
    margin-top: -8px;
}

.logo {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    color: #070785;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 11px 22px;
    border-radius: 80px;
}

.nav-links a:hover {
    background-color: var(--hover);
    color: white;
    corner-shape: squircle;
}

.nav-btn {
    background: #7838f8;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 80px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover {
    box-shadow: 4px 4px black;
    transform: translateY(-2px);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 25px;
    color: #000000;
    cursor: pointer;

    border-radius: 50px;
}

.mobile-modal {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px 6%;
    }

    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mobile-modal {
        position: fixed;
        inset: 0;
        background: rgba(7, 89, 133, 0.25);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 999;
        padding: 20px;
    }

    .modal-box {
        width: 100%;
        max-width: 340px;
        background: rgba(255, 255, 255, 0.626);
        backdrop-filter: blur(10px);
        border-radius: 14px;
        padding: 26px;
        box-shadow: 0 20px 45px rgba(6, 3, 161, 0.25);
        text-align: center;
        animation: popUp 0.25s ease;
        border-radius: 100px;
    }

    @keyframes popUp {
        from {
            opacity: 0;
            transform: scale(0.92);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    .modal-header h2 {
        color: #000000;
        font-size: 24px;
    }

    .close-btn {
        font-size: 28px;
        color: #000000;
        cursor: pointer;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .mobile-links a {
        text-decoration: none;
        color: #090785;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }

    .mobile-links a:hover {
        background: var(--hover);
        color: #ffffff;
    }

    .mobile-links .nav-btn {
        margin-top: 10px;
        width: 100%;
    }

    #menu-toggle:checked~.mobile-modal {
        display: flex;
    }
}

.hero-btn {
    background-color: var(--btn);
    border-radius: 200px;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    border: none;
}

.hero-btn a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero-btn:hover {
    box-shadow: 4px 4px black;
}

.hero-text {
    font-size: 55px;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 1px;
    color: #351659;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 8% 10%;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100%;
    border-radius: 80px;
}

@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-text {
        font-size: 40px;
    }
}

.shake-bottom {
    animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes shake-bottom {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

.section2 {
    padding: 1px;
}

.heading-1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}


.code-container {
    background-color: #ebe2f9;
    color: #000000;
    border-radius: 24px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.70), inset -1px -1px 1px rgba(156, 165, 178, 0.35), 14px 14px 36px rgba(156, 165, 178, 0.58), -14px -14px 36px rgba(251, 252, 253, 0.81);
    position: relative;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid rgb(179, 179, 179);
    width: 70%;
    margin: 0 auto;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #eaeaea;
}

.code-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: system-ui;
    font-weight: 700;
    color: #333;
}

.copy-button {
    background-color: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
}

.copy-button:hover {
    background-color: #f9f9f9;
    border-color: #ccc;
}

.copy-button.copied {
    background-color: #303030;
    border-color: #2d2d2d;
    color: #fff;
}

.copy-icon {
    width: 18px;
    height: 18px;
    color: currentColor;
}

.code-block {
    padding: 10px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
    color: #333;
    overflow-x: auto;
    margin-top: 10px;
}

.new-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33333365;
    backdrop-filter: blur(6px);
    border: 1px solid rgb(104, 104, 104);
    color: rgb(32, 32, 32);
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    z-index: 9999;
}

.new-toast.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

.new-toast.success {
    background-color: #e6cffe8c;
}

.new-toast.error {
    background-color: #dc3545;
}

.new-toast.info {
    background-color: #17a2b8;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: rgb(249, 249, 249);
    padding: 25px;
    border-radius: 60px;
    border: 1px solid rgb(155, 155, 155);
}

.heading-card {
    font-size: 17px;
    font-weight: 500;
    background-color: #ead8fb;
    padding: 1px 15px;
    border-radius: 100px;
    width: fit-content;
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}

.dropdown ul {
    position: absolute;
    background-color: #e2d8fd99;
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 4px 4px black;
    text-decoration: none;
    list-style: none;
    margin-bottom: 100px;
    width: fit-content;
    border: 2px solid rgb(207, 190, 255);
    z-index: 1000;
}

.dropdown ul li a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 100px;
    transition: all 0.3s ease;
    padding: 3px 10px;
    border-radius: 100px;
}

.dropdown ul li a:hover {
    background-color: var(--hover);
}

.dropdown ul li {
    margin-bottom: 10px;
}

summary a {
    color: #2c1b55;
    text-decoration: none;
}

.dropdown summary {
    list-style: none;
    cursor: pointer;
}

.section-3 {
    padding: 1px;
}

.heading-3 {
    background-color: rgb(165, 152, 251);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;
    border: 2px solid rgb(93, 93, 93);
    color: #201376;
}

.img-3 {
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}

.card-3 {
    background-color: #d1f8ea;
    padding: 25px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.card-3:hover {
    transform: translateY(-5px);
}

.card-btn {
    border: 2px solid rgb(108, 108, 108);
    padding: 5px 15px;
    border-radius: 1000px;
}

.card-3-head {
    font-size: 22px;
    font-weight: 700;
    color: rgb(25, 101, 75);
}

.section-4 {
    padding: 1px;
}

.card-4 {
    background-color: #fff;
    padding: 25px;
    border-radius: 100px;
    border: 2px solid rgb(63, 35, 95);
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #c7c7c72a 35%, transparent 35%);
    background-size: 20px 20px;
}

.card-4:hover {
    transform: translateY(-5px);
}

.heading-4 {
    background-color: rgb(199, 243, 228);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 200px;
    font-size: 18px;
    font-weight: 600;
}

.link-4 {
    text-decoration: none;
    color: rgb(25, 101, 75);
    border: 1px solid black;
    margin-right: 5px;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;

}

.link-4:hover {
    box-shadow: 2px 2px black;
}

.heading-icon i {
    color: #000000;
    font-size: 20px;
    background-color: #e5c5fe;
    padding: 12px;
    border-radius: 100px;

    margin-left: -25px;
    margin-top: -45px;
}

.back-3 {
    background-color: #FFFFFF;
    background-image:
        linear-gradient(#d1d5db90 1px, transparent 1px),
        linear-gradient(90deg, #d1d5db7d 1px, transparent 1px);
    background-size: 35px 35px;
}

.shapes {
    position: relative;
}

.shape-1 {
    position: absolute;
    bottom: 70px;
    left: 60%;
    background-color: #ddf2d9;
    color: #163710;
    ;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 100px;
    letter-spacing: 1px;
}

.shape-2 {
    background-color: #ebffe8;
    position: absolute;
    top: -400px;
    right: 46%;
    width: fit-content;
    padding: 15px;
    font-size: 30px;
    border-radius: 100px;
    rotate: -20deg;
    z-index: -1000;
}

@media (max-width: 600px) {
    .shape-1 {
        font-size: 15px;
        width: fit-content;
        left: 15px;
        bottom: -15px;
    }

    .shape-2 {
        top: -180px;
        left: -5px;
        font-size: 20px;
    }
}

.shake-vertical {
    animation: shake-vertical 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.comp-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    align-items: center;
    margin: 0 auto;
    background-color: #fafafa;
}

.comp-card {
    padding: 20px;
    border-radius: 20px;
    align-content: center;
}

.comp-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.comp-heading {
    font-size: 30px;
    font-weight: 700;
    color: rgb(81, 50, 127);
    margin-bottom: -20px;
}
.comp-btn {
    background-color: rgb(226, 204, 255);
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    border: 0;
    font-size: 18px;
    margin-top: 10px;
}
.comp-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.comp-btn:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px black;
}
@media (max-width: 600px) {
    .comp-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .comp-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}
